params {
	help = ""
	feature = 'exon'
	threads = 30
	output_dir = 'output'
}

if(params.help) {
	log.info ''
		log.info 'Starter Template'
		log.info ''
		log.info 'Usage: '
		log.info '    nextflow run . -profile standard [options]'
		log.info ''
		log.info 'Script Options: '
		log.info '    --threads             INT     Number of threads to use'
		log.info '    --output              DIR     Directory to write output files'
		log.info '    --help                BOOL    Display help message'
		log.info ''

		return
}

timeline {
	enabled = true
		file = "${params.output_dir}/timeline.html"
}

report {
	enabled = true
		file = "${params.output_dir}/report.html"
}

profiles {
	standard {
		resume = true
			threads = "$params.threads"
	}

	condor {
		process.executor = 'condor'
		process.cpus = '40'
		process.memory = '50GB'

		process.clusterOptions = """
			output = ${params.output_dir}_file.out
			error = ${params.output_dir}_file.err
			log = ${params.output_dir}_file.log
			accounting_group = LongJob.Weekly.HighPrio
			"""
	}
}

//workflow.onComplete = {
//    println "Pipeline completed at: $workflow.complete"
//    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
//}
