params {

	help = ""
	threads = 1
	outDir = "./output"

	bamScrna = "$baseDir/data/bam/tiny/sc.bam_tiny.bam"
	bamOnt = "$baseDir/data/bam/tiny/ont_merged.bam_tiny.bam"
	refAnnotation = "$baseDir/data/annotations/tiny/galGal6.ncbiRefSeq.gtf_tiny.gtf"
	refGenome = "$baseDir/data/genome/galGal6.fa"
	annotOntStringtie = "annotation_ont_stringtie.gtf"
	annotStrategy = "stringtie"
	config.scallop = "$baseDir/config_scallop.txt"

}

if(params.help) {
    log.info ''
    log.info 'Starter Template'
    log.info ''
    log.info 'Usage: '
    log.info '    nextflow run . -profile template [options]'
    log.info ''
    log.info 'Script Options: '
    log.info '    --threads             INT     Number of threads to use'
    log.info '    --output              DIR     Directory to write output files'
    log.info '    --help                BOOL    Display help message'
    log.info ''

    return
}

timeline {
	enabled = true
	file = "$params.outDir/timeline.html"
	}

report {
	enabled = true
	file = "$params.outDir/report.html"
	}
