params {

	help = ""
	outDir = "./output"
	threads = 60
	workflow = 'reannotation'

	bamScrna = "./data/bam/tiny/sc.bam_tiny.bam"
	bamONT = "./data/bam/tiny/ont_merged.bam_tiny.bam"
	ref = "./data/annotations/tiny/galGal6.ncbiRefSeq.gtf_tiny.gtf"
	ref2 = "./data/annotations/tiny/galGal6.ncbiRefSeq.gtf_tiny_2.gtf"
	refGenome = "./data/genome/galGal6.fa"
	annotOntStringtie = "annotation_ont_stringtie.gtf"
	annotStrategy = "stringtie"
	config.scallop = "./config_scallop.txt"

}

if(params.help) {
    log.info ''
    log.info 'Starter Template'
    log.info ''
    log.info 'Usage: '
    log.info '    nextflow run . -profile standard [options]'
    log.info ''
    log.info 'Script Options: '
    log.info '    --threads             INT     Number of threads to use'
    log.info '    --output              DIR     Directory to write output files'
    log.info '    --help                BOOL    Display help message'
    log.info ''

    return
}

timeline {
	enabled = true
	file = "$params.outDir/timeline.html"
}

report {
	enabled = true
	file = "$params.outDir/report.html"
}

profiles {
	standard {
		resume = true
		threads = "$params.threads"
	}
}
